  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #5a3fd4;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #8f79f2; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #e4deff; 
    color: #555555;
  }
  .bg-4 { 
   background-color: #f7f5ff; 
   color: #180957;
  }
  .bg-5 { 
    background-color: #302d40; 
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
  
#pic1:hover {
  transform:scaleX(-1);
  filter: invert(100%);
}
#snip:hover {
  transition: transform .8s;
  transform: scale(1.5);
}


#anim {
  width: auto;
  height: 50px;
  background-color: #e4deff;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {background-color:#5a3fd4;}
  25%  {background-color:#8f79f2;}
  50%  {background-color:#e4deff;}
  75%  {background-color:#8f79f2;}
  100% {background-color:#5a3fd4;}
}


#boxes {

    text-align: center;
}
#btns {
    padding: 25px;
    background: white;
    margin-bottom: 40px;
}
#btns button {
    background: white;
    padding: 5px 10px;
    border: 0px;
}
#btns .fa {
    font-size: 30px;
    color: #0078D7;
}
.box {
position: relative;
width: 100px;
height: 100px;
margin: 5px;
display: inline-block;
}
.red {background-color: #64dfdf;}
.blue {background-color: #6930c3;}
.green {background-color: #252525;}
.cyan {background-color: #80ffdb;}


.flip-box {
  background-color: transparent;
  width: auto;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}