  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #5a3fd4; /* Purple */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #8f79f2; /* Light Purple */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #e4deff; /* White Purple */
    color: #555555;
  }
 
.blur {filter: blur(4px);}
.invert {filter: invert(100%);}
.saturate {filter: saturate(10);}

img:hover {
  transform: scaleX(-1);
}

.containerx {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerx:hover .image {
  opacity: 0.3;
}

.containerx:hover .middle {
  opacity: 1;
}

.text {
  background-color: #5a3fd4;
  color: white;
  font-size: 20px;
  padding: 70px 50px;
}

   .bg-4 { 
   background-color: #f7f5ff; /* White Purple */
   color: #180957;
  }
  .bg-5 { 
    background-color: #302d40; /* Black Purple Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }